<table class="table table-bordered">
  <tbody>
    <tr>
      <td>
        <%= @users.id %>
      </td>
      <td>
        <%= @users.email %>
      </td>
      <td>
        <%= @users.created_at %>
      </td>
      <td>
        <%= @users.sign_in_count %>
      </td>
      <td>
        <%= @users.current_sign_in_at %>
      </td>
      <td>
        <%= @users.last_sign_in_at %>
      </td>
      <td>
        <%= @users.current_sign_in_ip %>
      </td>
      <td>
        <%= @users.last_sign_in_ip %>
      </td>
    </tr>
  </tbody>
</table>