<div class="container">
		<div class="row isotope-grid"> 
				               
			<% @products.each do |product| %>
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">                         
					
					<div class="block2">
						<div class="block2-pic hov-img0",style="width:100px ,height:207px">         
							<% if product.image.attached? %>
								<%= image_tag product.image, style: "width: 140px; height: 200px;"%>
							<% end %>
							
								 
                                <%= link_to 'Quick View', show_product_product_path(product) ,class: 'btn btn-success block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ',style:"left:70px" %>

						</div>  
						
						<%= link_to "Add to cart", line_items_path(product_id: product.id), method: :post %>
						
						<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<div class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											
									
										<%= product.name %>
									</div>
									<span class="stext-105 cl3">
										<%= product.price %> Rs
									</span>
								</div>
						</div>
                        <% end %>